body {
    color: #000;
}
.vermelho {
    background-color: #f00;
    color: white;
}

.azul {
    background-color: #00f;
    color: white;
}
.verde {
    background-color: #0f0;
    color: #000;
}

.oculto {
    display: none;
}

#telefone {
    display: none;
}